#pdf{
    max-width: 200%;
    margin-left:0%;
}
#name{
    max-width: 44%;
    margin-left:12.5%;
}
.md-form {
    margin-bottom: 2rem;
    margin-left: 8.5%;
    max-width: 75%;
}
#secondName {
    width: 105%;
    margin-left: -39%;
}
#return
{
    margin-top: 19%;
    margin-left: 2%;
    width: 10%;
}